.DBank/
.everbox/
.klive/
.root
.goukuai/
desktop.ini
.dropbox
badluck
codebase
drawings.git
ebooks.git
excs
loseplace
nightgun
profiles
repos.git
scripts
supports
texts
usys
utils
vcsplace
webdev
websaver
