.dropbox
desktop.ini
.kanbox
Desktop.ini
!git/.is-modified
git/babes.git
git/badcodes
git/badluck.git
git/boqi
git/eote
git/excs
git/hooks.pl
git/libmyplace
git/losep
git/losep.git
git/mpdata
git/mptext
git/myplace
git/myplace-tasks
git/nightgun.git
git/prints
git/privepo
git/profs
git/reposman
git/reposman.git
git/scriptlib
git/supports
git/tombloo
git/tombloo.git
git/urimanager.git
git/urlrule
git/urlrule.git
git/usys
git/usys.git
git/vcsplace
git/websaver
git/webscrap
git/xiaoranzzz
git/zhreader.git
svn/privepo/
