.dropbox
desktop.ini
.kanbox
Desktop.ini
git/badcodes/
git/badluck/
git/excs/
git/libmyplace-perl.git/
git/loseplace/
git/nightgun.git/
git/plaintexts/
git/prints/
git/privepo/
git/profs/
git/repos.git/
git/scriptlib/
git/supports/
git/usys/
git/utils.git/
git/vcsplace/
git/websaver2.git/
git/webscrap/
git/badluck.git/
git/loseplace.git/
git/usys.git/
git/reposman.git/
git/losep/
git/losep.git/
git/urlrule.git/
*/
!git/.is-modified
